@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Epilogue&family=Montserrat+Alternates:wght@200&family=Nunito+Sans:ital,wght@0,400;1,200&display=swap');

.auth-cnt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 290px;
}

.logIn-btn,
.register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: 'Epilogue', sans-serif;
}

.logIn-btn:hover {
  font-weight: 700;
}

.register-btn-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 70px;
  border: 1px solid black;
  cursor: pointer;
}

.register-btn-cnt:hover {
  border: 3px solid black;
}

@media screen and (max-width: 600px) {
  .auth-cnt {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .logIn-btn,
  .register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    border: none;
    background-color: azure;
    cursor: pointer;
    font-family: 'Epilogue', sans-serif;
  }
}
