@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Epilogue&family=Montserrat+Alternates:wght@200&family=Nunito+Sans:ital,wght@0,400;1,200&display=swap');

.featue-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: 'Epilogue', sans-serif;
}

.featue-btn:hover {
  color: black;
  font-weight: 700;
}

.feature-btn-cnt {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  width: 130px;
  height: 110px;
  padding-top: 10px;
  border-radius: 9px;
  align-items: center;
  box-shadow: 0 0 14px rgb(45, 44, 40);
  z-index: 500;
}

.feature-btn {
  border: none;
  background-color: white;
  font-family: 'Epilogue', sans-serif;
  width: 100px;
  cursor: pointer;
}
.feature-btn:hover {
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .feature-btn-cnt {
    position: absolute;
    left: 68%;
  }
}
