@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Epilogue&family=Montserrat+Alternates:wght@200&family=Nunito+Sans:ital,wght@0,400;1,200&display=swap');

.main-img {
  width: 400px;
  height: 400px;
}

.intro-cnt {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  margin-top: 50px;
}

.intro-txt-cnt {
  width: 700px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.intro-txt-first {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro-header {
  font-size: 63px;
  font-family: 'Epilogue', sans-serif;
  font-weight: 600;
}

.intro-para {
  font-size: 19px;
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
}

.intro-btn {
  width: 150px;
  height: 50px;
  color: black;
  border-radius: 14px;
  font-size: 19px;
  background-color: white;
  font-weight: 400;
}

.intro-btn:hover {
  font-weight: 700;
  cursor: pointer;
  font-family: 'Epilogue', sans-serif;
}

.intro-imgs {
  display: flex;
  justify-content: space-around;
}

.mobile-img {
  display: none;
}

@media screen and (max-width: 650px) {
  .intro-cnt {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 0px;
    margin-top: 50px;
  }

  .main-img {
    display: none;
  }

  .mobile-img {
    display: flex;
    height: 300px;
    width: 300px;
  }
}
