@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Epilogue&family=Montserrat+Alternates:wght@200&family=Nunito+Sans:ital,wght@0,400;1,200&display=swap');

.nav-cnt,
.nav-logo-btn-cnt,
.nav-btn-cnt {
  display: flex;
}

.nav-cnt {
  position: relative;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  height: 55px;
}

.nav-logo-btn-cnt {
  justify-content: space-around;
  width: 600px;
}

.nav-btns {
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: 'Epilogue', sans-serif;
  font-size: 19px;
}

.nav-btns:hover {
  color: black;
  font-weight: 700;
}

.nav-btn-cnt {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.nav-mobile-view-cnt {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-cnt {
    display: none;
  }

  .nav-mobile-view-cnt {
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
    padding: 10px;
  }
}
