.nav-cnt,
.nav-logo-btn-cnt,
.nav-btn-cnt {
  display: flex;
}

.nav-cnt {
  padding-top: 20px;
  position: relative;
}

.nav-mobile-view-cnt {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-cnt {
    display: none;
  }

  .nav-mobile-view-cnt {
    display: flex;
    padding-top: 25px;
    justify-content: space-around;
  }
}
