.nav-mobile-btn {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: none;
  background-color: white;
  height: 50px;
}

.nav-1stspan,
.nav-2ndspan,
.nav-3rdspan {
  width: 40px;
  height: 3px;
  background-color: black;
}

.nav-mobile-btn-cnt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.one {
  transform: rotate(45deg);
  position: absolute;
  right: 25px;
  top: 50px;
  animation: move 2s;
}

.two {
  display: none;
}

.three {
  transform: rotate(-45deg);
  position: absolute;
  right: 25px;
  top: 50px;
  animation: move 2s;
}

.nav-mobile-btn-cnt,
.one,
.three {
  transition: transform 1s ease-in;
}

@keyframes move {
  0% {
    right: 100px;
  }
  25% {
    right: 75px;
  }
  50% {
    right: 50px;
  }
  100% {
    right: 25px;
  }
}
