.company-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: 'Epilogue', sans-serif;
}

.company-btn:hover {
  color: black;
  font-weight: 700;
}
